<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Edit Comment</title>
</head>
<body>
    <h1>Edit Page</h1>

    <p>User: <%= Comments.name %> </p>
    <p>Comment: <%= Comments.body %> </p>
    <p><%= Comments.timestamps %></p>
    <!-- NOTE broken line, "Cannot PUT"-->
    <form action="/comments/editComments/<%= Comments.id %>?_method=PUT" method="POST">
        <input type="text" name="body" placehold="comment">
        <input type="submit">
    </form>
    <button>Edit</button>
    <button>Delete</button>
    <a href="/">Home!</a>

</body>
</html>