<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/styles/styles.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Comment</title>
</head>
<body>
    <p><%= Comments.name %></p>
    <p><%= Comments.body %> </p> 
    <p><%= Comments.timestamps %></p>
    <a href="/comments/editComments/<%= Comments.index %>">Edit</a>
    <button>Delete</button>
    <a href="/">Home!</a>
</body>
</html>