<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row"> 

            <div class="column sidebar">
            <h2>Chefly</h2>
            </div>


            <div class="column gallery">
                <% allRecipes.forEach((Recipes, index) => { %>
                            <a class="recipe" href="/recipes/showRecipes/<%= index %>"> 
                                <img src="<%= Recipes.img %>">
                                <p class="recipe"><%= Recipes.name %></p>
                            </a>
                    <% }) %>
                    <a href="/comments/indexComments">Go to Comments</a>
                    <a href="/login">Log In/Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>