<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Home</title>
</head>
<body>
    <h2>Side Bar</h2>
    <div class="container-fluid">
    <img href=""
    <ul>
        <% allRecipes.forEach((Recipes, index) => { %>
            <li>
                <a href="/<%= index %>"> <%= Recipes.name %> </a>
                <a href="/<%= index %>"> <%= Recipes.img %> </a>
            </li>
        <% }) %>
    </ul>
    <a href="/indexComments">Go to Comments</a>
    </div>
</body>
</html>