<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div class="main-navigation">
                <div class="navbar">
                    <h2>Chefly</h2>
                    <a class="home__button" href="/">Home</a>
                    <a class="sidebar__items" href="/login">Login"</a>
                    <a class="sidebar__items" href="/register">Signup"</a>
                    <a href="/comments/indexComments">Go to Comments</a>
                </div>
            </div>
    <h1>Log In</h1>
    <form action="/login" method="POST">
        <p>
            <input type="email" name="email" placeholder="Email" required>
        </p>
        <p>
            <input type="password" name="password" placeholder="Password" required minlength="8" >
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
</body>
</html>