<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
        <p>
            <input type="text" name="name" placeholder="User Name" required minlength="3" required maxlength="16">
        </p>
        <p>
            <input type="email" name="email" placeholder="Email" required>
        </p>
        <p>
            <input type="password" name="password" placeholder="Password" required minlength="8" >
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</body>
</html>