* {
    box-sizing:border-box;
}

/* MAIN AND CONSISTENT ELEMENTS */
body {
    background-color: rgb(250, 250, 250);
}

h2 {
    margin: 25px 0 0 62px;
    color: rgb(225, 95, 38);
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
/* SIDE NAV BAR */
.main-navigation {
    position: fixed;
    width: 216px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 5005;
    box-shadow: 0 8px 6px -6px rgb(139, 138, 138);
}
.main-navigation:hover {
transition: .3s ease-in;
}

.home__button {
    margin: 10px 10px 10px 38px;
    padding: 6px 8px 6px 45px;
    width: 140px;
    color: rgb(250, 250, 250);
    font-size: 1.2em;
    background-color: rgb(58, 150, 145);
    border-radius: 20px;
}
.login__button {
    margin: 10px 10px 10px 38px;
    padding: 6px 8px 6px 45px;
    width: 140px;
    color: rgb(250, 250, 250);
    font-size: 1.2em;
    background-color: rgb(58, 150, 145);
    border-radius: 20px;
}
.signup__button {
    margin: 10px 10px 10px 38px;
    padding: 6px 8px 6px 45px;
    width: 140px;
    color: rgb(250, 250, 250);
    font-size: 1.2em;
    background-color: rgb(58, 150, 145);
    border-radius: 20px;
}


/* RECIPE GALLERY */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin-left: auto;
}

.gallery .recipe {
    width: 20%;
    height: 300px;
}
.recipe img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px rgb(139, 138, 138);
}
p {
    color: rgb(76, 76, 76);
    font-size: 1em;
}
.gallery p {
    text-align: left;
    color: rgb(39, 39, 39);
}

.recipe {
    margin: 5px;
}
.recipe:hover {
    color: rgb(58, 150, 145);
    text-decoration: none;
}

/* Recipe Show Pages */
.recipe__top {
    flex-direction: row;
}
.recipe__showPage {
    margin: 20px;
   
}

.page_header {
margin-left: 216px;
}

.recipe__imagePage {
    width: 480px;
    height: 480px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: auto;
    box-shadow: 0 8px 6px -6px rgb(139, 138, 138);
}

.recipe__imagePage img {
    margin: 50px 0 0 0;
    height: 480px;
    object-fit: cover;
}
.recipe__name {
    color: black;
    font-family: 'Roboto', sans-serif;;
    font-size: 3.7em;
    margin: 115px 0 0 212px;
    text-decoration: bold;
}

.recipe__bottom {
    padding: 0px 0px 0px 100px;
}
.descriptions {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 10px 0px 60px 150px;
}
.descriptions__descriptions {
    margin: 30px 0px 00px 0px;
    font-size: .6em;
    line-height: 30px;
}
.ingredients {
    color: black;
    font-family: 'Roboto', sans-serif;;
    font-size: 2em;
    padding: 10px 0px 60px 150px;
}
.ingredients__ingredients {
    margin: 30px 0px 00px 0px;
    font-size: .6em;
    line-height: 30px;
}

.directions {
    color: black;
    font-family: 'Roboto', sans-serif;;
    font-size: 2em;
    padding: 10px 0px 60px 150px;
}
.directions__directions {
    margin: 30px 0px 0px 0px;
    font-size: .6em;
    line-height: 30px;
}

/* Comments On Recipe Page */
.comment_body {
    color: rgb(76, 76, 76);
    width: 70vw;
    margin: 0 0 0 250px;
}

.comment__input {
    width: 250px;
    margin: auto;
    font-size: 1em;
    justify-content: center;
    
}

.comment__button {
    width: 300px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: rgb(250, 250, 250);
    background-color: rgb(58, 150, 145);
    border-radius: 20px;

}
.change_comment {
    margin: 0 0 0 100px;
}
.col.right {
    display: flex;
    justify-content: flex-start;
}
.col.left {
    display: flex;
    justify-content: flex-end;
}
.edit {
    color: rgb(76, 76, 76);
    margin: 3px 10px 10px 10px;
    padding: 3px 10px 3px 10px;
    color: rgb(250, 250, 250);
    font-size: .6em;
    border-radius: 20px;
}
.delete {
    color: rgb(76, 76, 76);
    padding: 3px 20px 3px 10px;
    margin: 3px 10px 10px 10px;
    font-size: .6em;
    border-radius: 20px;
}


/* FORMS */

form {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.search {
    width: 120px;
}
.clear {
    margin: 3px 10px 10px 75px;
    padding: 3px 20px 3px 20px;
    width: 65px;
    color: rgb(250, 250, 250);
    font-size: .6em;
    background-color: rgb(58, 150, 145);
    border-radius: 20px;
}
.login_signup {
    padding: 100px 100px 0 250px;
}

input {
    padding: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    border: 0px;
    border:rgb(250, 250, 250);

}

input:focus {
    border-radius: 20px;
    border: 2.5px solid;
    outline: none;
    border-width: 2.5px;
    border-color: royalblue;
}

input::placeholder {
    color: rgb(143, 143, 143);
}

input[type="text"] {
    border-radius: 15px, 0 0 15px;
}

input[type="submit"] {
    color: rgb(250, 250, 250);
    background-color:  rgb(225, 95, 38);
    border-radius: 0 15px 15px 0; 
}


@media screen and (max-width: 600px) {
    .gallery .recipe {
        width:50%;
    }
}

@media screen and (max-width: 400px) {
    .gallery .recipe {
        width:100%;
    }
}







