<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <!-- NOTE Search Bar -->
    <form action="/recipes/indexRecipes" method="GET">
        <input type="text" name="name" placeholder="Recipe" />
        <input type="submit" value="Search" />
    </form>
    <a href="/indexRecipes">Clear</a>
    
    <div class="container">
        <div class="row">
            <div class="col-10 gallery">
                <% allRecipes.forEach((Recipes, index) => { %>
                            <a class="recipe" href="/recipes/showRecipes/<%= Recipes.id %>"> 
                                <img src="<%= Recipes.img %>">
                                <p class="recipe"><%= Recipes.name %></p>
                            </a>
                    <% }) %>
                    
                    
                    
            </div>
        </div>
    </div>
</body>
</html>